mixin meta(title, description, path)
  title= title
  meta(name="description", content=description)
  link(rel="canonical", href="https://www.lolicon.sx" + path)
  meta(property="og:type", content="website")
  meta(property="og:site_name", content="lolicon.sx")
  meta(property="og:locale", content="ja_JP")
  meta(property="og:title", content=title)
  meta(property="og:description", content=description)
  meta(property="og:url", content="https://www.lolicon.sx" + path)
  meta(property="og:image", content="https://www.lolicon.sx/ogp.png")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=title)
  meta(name="twitter:description", content=description)
  meta(name="twitter:image", content="https://www.lolicon.sx/ogp.png")
