doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include includes/_meta.pug
    +meta("おめでとう - ろりこん.sx", "あなたはろりこんとして認定されました！", "/yes.html")
    include includes/_footer.pug
    link(rel="stylesheet", href="style.css")
  body
    .container
      p.blink.star congratulations
      h1 おめでとう！
      p あなたはろりこんとして認定されました！
      .buttons
        a.share-btn(
          href=`https://twitter.com/intent/tweet?text=${encodeURIComponent("あなたはろりこんですか？私はろりこんとして認定されました！")}&url=${encodeURIComponent("https://www.lolicon.sx/")}&hashtags=${encodeURIComponent("ろりこんsx")}`,
          target="_blank",
          rel="noopener noreferrer"
        ) 結果をポストする
      a(href="/") トップへ
      +footer
